<?xml version="1.0" encoding="UTF-8"?>
<!-- Declaración XML: Indica la versión de XML y la codificación de caracteres -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
    <!-- Definición del namespace y el esquema XML para la aplicación web Java EE -->

	<display-name>PesoIdeal</display-name>
    <!-- Nombre a mostrar para la aplicación en el despliegue -->

	<welcome-file-list>
        <!-- Lista de archivos de bienvenida (página principal) -->
		<welcome-file>index.html</welcome-file>
        <!-- Página de bienvenida: index.html -->
	</welcome-file-list>
</web-app>
<!-- Fin de la definición de la aplicación web -->
